
<div class="ui container"><br><br><br><br><h1>My Biography</h1>

<%= image_tag @user.avatar(:medium), class: "ui round profile middle aligned medium small image" %><br>
Myself <%= @user.username %>. I live in address. 
</div>	