<div class="ui container" style="padding:10% 20% 0% 20%; ">
<div class="ui segment">
<div class="ui fluid button in-active"><h2>Sign up</h2></div><br>
<div class="ui form">
<h1>Only the Self-Aware Succeed</h1><br>

<p>What are your strengths? How about your weaknesses? Coming out of college, I always found those to be two of the toughest interview questions, because 1.) I rarely knew the answers to them, and 2.) I just wasn’t great at talking about myself in that — I guess vulnerable — way.</p>
<br><br>
<p>However, no matter what you set out to do in life, it’s important that you can answer them. You need to have good self-awareness.
self-a·ware·ness (noun): conscious knowledge of one’s own character, feelings, motives, and desires.
It’s easier to figure out where you want to be when you’re self-aware, and it’s also easier to get there. By knowing and being able to articulate what your strengths are, you can focus more on improving them. To borrow from Madden’s video game scale, it’s better to be a 99 in one or two things than be a 70 across the board. </p><br>
</div></div></div>