<div class="ui container" style="padding:10% 20% 0% 20%; ">
<%= link_to  :back, class: ' ui button violet' do %>
<i class="arrow left icon"></i>Back
<% end %>
<div class="ui segment">

<div class="ui fluid button in-active"><h3>Confirmation required to continue</h3></div>
<div class="ui form">
	<div class="ui field"><h3>Please confirm your email that we have sent to your email address and to continue.</h3></div>
	<div class="ui field"></div>	
</div>
</div>
</div>